.header-shared-component-Img-Div{
    padding: 1rem;
    display: flex;
    width: 100%;
    height: 110vh;
    justify-content: center;
    gap: 1rem;
}

.header-shared-component-img{
    height: 110vh;
    width: 30vw;
    border-radius: 1rem;
}